@model Soal_A.Models.Produk
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Produk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id  )
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nama_barang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nama_barang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kode_barang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kode_barang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jumlah_barang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jumlah_barang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tanggal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tanggal)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Update", "Update", new { id = Model.id }) |
    <a asp-action="Index">Back to List</a>
</div>
